<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://developer.garmin.com/downloads/connect-iq/resources.xsd">

    <setting propertyKey="@Properties.setupCallbackUrl" title="@Strings.SetupCallbackTitle">
        <settingConfig type="password" maxLength="2048" />
    </setting>

    <setting propertyKey="@Properties.manualRefreshToken" title="@Strings.ManualRefreshTokenTitle">
        <settingConfig type="password" maxLength="2048" />
    </setting>

    <setting propertyKey="@Properties.manualBabyUid" title="@Strings.ManualBabyUidTitle">
        <settingConfig type="alphaNumeric" maxLength="128" />
    </setting>

    <setting propertyKey="@Properties.syncIntervalMinutes" title="@Strings.SyncIntervalMinutesTitle">
        <settingConfig type="numeric" min="5" />
    </setting>

    <setting propertyKey="@Properties.defaultBottleOz" title="@Strings.DefaultBottleOzTitle">
        <settingConfig type="numeric" min="0" />
    </setting>

    <setting propertyKey="@Properties.bottleMinOz" title="@Strings.BottleMinOzTitle">
        <settingConfig type="numeric" min="0" />
    </setting>

    <setting propertyKey="@Properties.bottleMaxOz" title="@Strings.BottleMaxOzTitle">
        <settingConfig type="numeric" min="0" />
    </setting>

</settings>
